{{ define "carCard"}} {{range $key, $car := .carList}}

<div class="card">
  <img
    src="/static/img/8150325.jpg"
    class="card-img-top"
    alt="Laptop"
  />
  <div class="card-body">
    <div class="d-flex justify-content-between mb-3">
      <h5 class="mb-0">{{ $car.model }}</h5>
      <h5 class="text-dark mb-0">{{$car.Rate}}$/h</h5>
    </div>

    <hr />
    <form action="/cars" method="GET">
      <input type="hidden" id="get-id" name="id" value="{{ $key }}" />
      <button
        type="submit"
        data-mdb-button-init
        data-mdb-ripple-init
        class="btn btn-primary btn-rounded btn-block btn-lg"
      >
        View Car
      </button>
    </form>
  </div>
</div>
{{ end }} {{ end }}
